<div class="row">
  <div class="col-md-3">
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-calendar-o fa-fw"></i></span>
      {{input type="text" id="raid-date" value=pickdate class="datepicker form-control"}}
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group margin-bottom-sm">
      <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
      {{input type="text" id="raid-time" value=picktime class="timepicker form-control"}}
    </div>
  </div>
</div>
