<select class="form-control" onchange={{action "change"}}>
  <option>None</option>
  {{#each guilds as |item|}}
  <option value="{{item.id}}" selected={{eq guild item}}>
    {{item.fullName}}
  </option>
  {{/each}}
</select>
