<div class="targets">
  {{#if waitingList}}
  <div class="waiting-list">
    <div class="target">
    </div>
  </div>
  {{else}}
  <div class="tank">
    <div class="target">
    </div>
  </div>
  <div class="healing">
    <div class="target">
    </div>
  </div>
  <div class="dps">
    <div class="target">
    </div>
  </div>
  {{/if}}
</div>
