footer {
  margin: 40px 0 20px;
  border-top: 1px solid #282828;
}
footer p {
  margin: 20px 0;
}
.class-1 {
  color: #C79C6E;
}
.class-2 {
  color: #F58CBA;
}
.class-3 {
  color: #ABD473;
}
.class-4 {
  color: #FFF569;
}
.class-5 {
  color: #FFFFFF;
}
.class-6 {
  color: #C41F3B;
}
.class-7 {
  color: #0070DE;
}
.class-8 {
  color: #69CCF0;
}
.class-9 {
  color: #9482C9;
}
.class-10 {
  color: #00FF96;
}
.class-11 {
  color: #FF7D0A;
}
.alliance {
  color: #247faa;
}
.horde {
  color: #ee1919;
}
.auth {
  padding: 10px 0;
  text-align: right;
  overflow: auto;
}
.auth li {
  display: inline-block;
  padding-left: 20px;
}
.characters .well {
  overflow: auto;
}
.character {
  overflow: auto;
  margin-bottom: 20px;
}
.character img {
  float: left;
  padding: 0 10px 10px 0;
}
.character > h3 {
  margin-top: 0;
}
