// WoW Class Colors
.class-1 { color: @warrior; }
.class-2 { color: @paladin; }
.class-3 { color: @hunter; }
.class-4 { color: @rogue; }
.class-5 { color: @priest; }
.class-6 { color: @death-knight; }
.class-7 { color: @shaman; }
.class-8 { color: @mage; }
.class-9 { color: @warlock; }
.class-10 { color: @monk; }
.class-11 { color: @druid; }

.tank { color: @tank; }
.healing { color: @healing; }
.dps { color: @dps; }

svg {
  .class-1 { fill: @warrior; }
  .class-2 { fill: @paladin; }
  .class-3 { fill: @hunter; }
  .class-4 { fill: @rogue; }
  .class-5 { fill: @priest; }
  .class-6 { fill: @death-knight; }
  .class-7 { fill: @shaman; }
  .class-8 { fill: @mage; }
  .class-9 { fill: @warlock; }
  .class-10 { fill: @monk; }
  .class-11 { fill: @druid; }

  .tank { fill: @tank; }
  .healing { fill: @healing; }
  .dps { fill: @dps; }

  .border-class-1 { fill: darken(@warrior, 15%); }
  .border-class-2 { fill: darken(@paladin, 15%); }
  .border-class-3 { fill: darken(@hunter, 15%); }
  .border-class-4 { fill: darken(@rogue, 15%); }
  .border-class-5 { fill: darken(@priest, 15%); }
  .border-class-6 { fill: darken(@death-knight, 15%); }
  .border-class-7 { fill: darken(@shaman, 15%); }
  .border-class-8 { fill: darken(@mage, 15%); }
  .border-class-9 { fill: darken(@warlock, 15%); }
  .border-class-10 { fill: darken(@monk, 15%); }
  .border-class-11 { fill: darken(@druid, 15%); }

  .border-tank { fill: darken(@tank, 15%); }
  .border-healing { fill: darken(@healing, 15%); }
  .border-dps { fill: darken(@dps, 15%); }
}

// Faction colors
.alliance { color: @alliance; }
.horde { color: @horde; }

// Stat Colors
.stat.role-dps { color: @dps; }
.stat.role-healing { color: @healing; }
.stat.role-tank { color: @tank; }

// Date Picker
.datepicker {
  p {
    margin-top: 6px;
  }
}

// Popovers
.popover {
  background-color: @gray-dark;

  .popover-title, .popover-content {
    color: @text-color;
    background-color: #000;
    border-color: @gray-dark;
  }

  &.top > .arrow:after {
    border-top-color: @gray-dark;
  }
  &.bottom > .arrow:after {
    border-bottom-color: @gray-dark;
  }
  &.left > .arrow:after {
    border-left-color: @gray-dark;
  }
  &.right > .arrow:after {
    border-right-color: @gray-dark;
  }
}

// Header
header {
  border-bottom: 1px solid @gray;

  div.wrapper {
    .make-row();

    h1 {
      .make-md-column(6);
      margin-top: 15px;
      margin-bottom: 10px;
      font-size: 1.6em;
    }

    // Session View
    .auth {
      .make-md-column(6);
      text-align: right;
      overflow: auto;
      margin-top: 10px;
      margin-bottom: 10px;

      li {
        display: inline-block;
        padding-left: 20px;
      }
    }
  }
}

// Character View
.characters {
  .well {
    overflow: auto;
  }

  .characters-list {
    .make-row();

    .empty {
      .make-md-column(12);
    }

    div.character {
      overflow: auto;
      margin-bottom: 20px;
      .make-sm-column(6);
      .make-md-column(4);
      .make-lg-column(3);

      img {
        float: left;
        margin: 0;
        padding: 0 10px 10px 0;

        &.character {
          padding: 0;
          margin: 0 10px 10px 0;
          border-radius: 5px;
        }
      }

      & > h3 {
        margin-top: 0;
      }

      .links {
        img {
          height: 30px;
        }
      }
    }
  }
}

// Raids
.raid {
  img.new-signup-image {
    margin-top: 10px;
  }

  section.title {
    .make-row();

    h1 {
      .make-md-column(6);
      font-size: 3em;
      height: 50px;
    }

    .stats {
      .make-md-column(6);
      height: 50px;
      margin: 20px 0 10px;

      .stat {
        line-height: 50px;
        height: 50px;
        font-size: 1.4em;
        float: right;
        padding-left: 20px;
      }
    }
  }

  section.alerts {
    .make-row();

    .wrapper {
      .make-md-column(12);

      .alert-success, .alert-warning, .alert-info, .alert-danger {
        background-color: @gray-darker;
      }
    }
  }

  .raid-wrapper {
    .make-row();
  }

  section.info {
    .make-md-column(3);
  }

  section.seated, section.waiting-list {
    .make-md-column(9);
    margin-bottom: 20px;

    h3 {
      margin-top: 0;
    }

    .wrapper {
      .make-row();

      .signup-wrapper {
        .make-md-column(3);

        .signup {
          border-radius: 5px;
          padding: 5px 10px;
          background-color: @gray-darker;
        }
      }
    }
  }

  section.graphs {
    .make-md-column(9);

    .wrapper {
      .make-row();

      .graph-container {
        .make-md-column(3);
        .clearfix();

        h3 {
          margin-top: 0;
          font-size: 1.2em;
        }
      }

      .graph {
        border-radius: 10px;
        background: @gray-darker;
        padding: 10px;
        text-align: center;
      }
    }
  }

  section.groups {
    .make-md-column(9);

    div.signups {
      .make-md-column(4);
    }

    div.seated {
      .make-md-column(4);
    }

    div.waiting-list {
      .make-md-column(4);
    }
}

  section.signups {
    .make-md-column(12);
  }

  section.log {
    .make-md-column(12);
  }
}

// Footer
footer {
  margin: 40px 0 20px;
  border-top: 1px solid @gray;
  padding-top: 20px;
  color: @text-muted;

  div.wrapper {
    .make-row();

    section {
      &.description {
        .make-md-column(8);
      }

      &.copyright {
        .make-md-column(4);

        @media(min-width: @screen-md) {
          text-align: right;
        }
      }
    }
  }
}
