{{#link-to 'raids.new' class="btn btn-primary"}}<i class="fa fa-plus"></i> New Raid{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>Guild</th>
      <th>Title</th>
      <th>Date</th>
      <th>Time</th>
      <th>You</th>
      <th>Signups</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedRaids as |raid|}}
      {{raid-row raid=raid account=currentAccount}}
    {{/each}}
  </tbody>
</table>
