<div class="container">
  <header>
    <div class="wrapper">
      <h1>Core the Loot Hound</h1>
      {{render "auth"}}
    </div>
  </header>
  {{liquid-outlet}}
  <footer>
    <div class="wrapper">
      <section class="description">
        <p>
          Core the Loot Hound is an <a href="http://emberjs.com/">Ember.js</a> front end to the
          <a href="http://byfirebepurged.com">By Fire Be Purged</a> raid scheduling API.
        </p>
        {{#if loggedIn}}
          <p>
            Currently using API Key: {{apikey}}
          </p>
        {{/if}}
        <p>
          You can <a href="http://docs.coretheloothound.com">view the docs <span class="octicon octicon-book"></span></a>, help
          <a href="http://code.coretheloothound.com">contribute <span class="octicon octicon-git-branch"></span></a>, and
          <a href="http://issues.coretheloothound.com">open an issue <span class="octicon octicon-issue-opened"></span></a> for any problems.
        </p>
      </section>
      <section class="copyright">
        <p>
          &copy; 2014-{{ currentYear }} by Christopher Giroir &lt;<a href="mailto:kelsin@valefor.com">kelsin@valefor.com</a>&gt;
        </p>
      </section>
    </div>
  </footer>
</div>
