<ul class="auth">
  {{#if loggedIn}}
    <li>{{#link-to 'raids'}}<i class="fa fa-trophy"></i> Raids{{/link-to}}</li>
    <li>{{#link-to 'characters'}}<i class="fa fa-users"></i> Characters{{/link-to}}</li>
    <li><i class="fa fa-user"></i> {{account.battletag}}</li>
    <li>
      <button class="btn btn-sm btn-default" {{action 'logout'}}>
        <i class="fa fa-sign-out"></i> Logout
      </button>
    </li>
  {{else}}
    <li>Logging in <img src="/images/loading.gif"></li>
  {{/if}}
</ul>
